.section-card{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #fff;
}
section {
    display: block;
}
.section-card-header {
    display: flex;
    float: left;
    margin-left: -5px;
}
.ui-svg-icon {
    display: inline-block;
    vertical-align: middle;
}
.section-card-icon {
    position: relative;
    top: -1px;
    margin: 5px 10px 0 0;
    width: 24px;
    padding-right: 0;
    color: #738f93;
    font-size: 18px;
}
.section-card-heading {
    color: #0e141e;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
}
.section-card-content {
    margin: 30px 0 0 10px;
    
}

.hacker-certificates {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.hacker-certificate {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 150px;
    color: black;
    text-decoration: none;
}
.hacker-certificate:hover {
    color: orange;
}
.hacker-certificate > img {
    width: 100%;
    margin: 10px;
    padding: 0;
}
.certi-name{
    font-size: 16px;
    font-family: 'Acme', sans-serif;
}
