#canvas {
    display: flex;
  }
  #header {
    margin-bottom: 28px;
    width: 60%;
  }
  header {
    align-items: center;
    justify-content: center;
  }
  #logo {
    float: left;
  }
  
  .site-title .logo {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-transform: none;
    text-decoration: none;
    display: block;
    line-height: 1.2em;
  }
  h1 {
    color: #000;
  }
  .anchor{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
   
  ul {
    list-style-type: none;
  }
  .menuNav {
    float: left;
    direction: ltr;
    width: 40%;
    align-self: end;
    align-content: flex-end;
  }
  
  nav > ul {
    align-content: flex-end;
    display: inline-flex;
    text-align: end;
    justify-content: space-around;
  }
  nav > ul > li {
    padding-left: 20px;
    padding-top: 10px;
  }
  
  .mainNav > li > .anchor {
      align-self: flex-end;
      color: grey;
  } 
  .menuNav > nav {
      float: right;
  }
  .mainNav > li > .anchor:hover {
      color: orange;
  }
  .anchor:hover {
    color: orange;
  }
  
  
  @media only screen and (max-width: 800px){
    #canvas {
      margin: 0 auto;
      padding-top: 20px;
    }
    #header {
        width: 100%;
      margin-bottom: 30px;
    }
    #logo {
      float: none !important;
    }
    h1.logo {
      text-align: center !important;
      display: block !important;
      letter-spacing: 0 !important;
      margin: 0 !important;
    }
    .menuNav {
        display: none;
    }
  }
  