.main-box {
    background-color: #37474f;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.box-container{
    display: flex;
}
.project-image {
    width: 30%;
    margin: 20px;
    padding: 0;
}
.details-container {
    width: 70%;
    color: whitesmoke;
}
.details-container > section {
    margin: 5px;
}
.project-button {
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 36px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
 
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  
  box-shadow: 2px 5px 10px #e4e4e4;
}
  .project-button:hover {
    transition: all 150ms linear;

    opacity: .85;
  }
  
  .project-button:active {
    transition: all 150ms linear;
    opacity: .95;
  }
  
  
  .project-button.-blue {
    color: #FFFFFF;
    background:  #416dea;
  }