.social {
    border-top: double;
    border-bottom: double;
    display: flex;
    justify-content: center;
}

.social > a {
    display: flex;
    width: 20%;
    text-decoration: none;
    background-color: lavenderblush;
    margin: auto;
}
.social > a:hover{
    background-color: cyan;
}
.social > a > .linkText {
    max-width: 80%;
    color: black;
    font-family: 'Acme', sans-serif;
    margin-left: 0px;
    text-align: start;
}
.icon {
    width: 20%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
}
.over {
    padding-right: 0px;
}
.flow {
    padding-left: 0px;
}

@media only screen and (max-width: 800px){
    .linkText {
        display: none;
    }
    .icon {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
    }
}
@media only screen and (max-width: 500px){
    
    .linkText{
        display: none;
    }
    .icon {
        margin: 5px;
    }
}
@media only screen and (max-width: 400px){
    .linkText {
        display: none;
    }
    .icon {
        font-size: 0;
        width: 24px;
        height: 24px;
    }
}