.section-card{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-top: 30px;
    padding-left: 10px;
    background-color: #fff;
}
section {
    display: block;
}
.section-card-header {
    display: flex;
    float: left;
    margin-left: -5px;
}
.ui-svg-icon {
    display: inline-block;
    vertical-align: middle;
}
.section-card-icon {
    position: relative;
    top: -1px;
    margin: 5px 10px 0 0;
    width: 24px;
    padding-right: 0;
    color: #738f93;
    font-size: 18px;
}
.section-card-heading {
    color: #0e141e;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
}