.mobileHeader  {
    display: none;
    margin: 20px;
}
.navList {
    margin: auto;
    padding: 0;
}
.mobile_Anchor {
    text-decoration: none;
    font-size: 16px !important;
    font-weight: bold;
    color: gray;
}
.mobileHeader > .text {
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding-top: 20px;
    font-size: 16px !important;
    color: gray;
    margin: auto;
    width: 20%;
}
.animate{
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
    opacity: 0;
  }
  
  @keyframes fadeinout {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
@media only screen and (max-width: 800px){
    .mobileHeader{
        display: block;
        font-size: 16px !important;
    }
}