.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #111;
    border-color: rgba(17,17,17,.2);
}
.footer > div > p  {
    font-family: 'Acme', sans-serif;
    font-size: 24px;
}