#container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
img {
    width: 60%;
    filter: none;
    border-radius: 0% 20%;
    padding-right: 20px;
}
img:hover {
    filter: grayscale(100%);
}
h1 {
    font-family: 'Indie Flower', cursive;
}
.about {
    width: 40%;
    float: right;
}
.about > p {
    font-family: 'Acme', sans-serif;
    direction: ltr;
}
.about > p >a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #111;
    border-color: rgba(17,17,17,.2);
}
.about > p> a:hover {
    color: orange;
}
@media only screen and (max-width: 800px){
    img{
        width: 100%;
    }
    #container {
        flex-direction: column;
    }
    .about {
        width: 100%;
    }
}